PORT=3000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=biblioteca_geek

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=biblioteca_geek_logs

JWT_SECRET=troque_este_segredo_biblioteca_geek
JWT_EXPIRES_IN=2h

UPLOAD_DIR=public/uploads
