node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/uploads/*
!public/uploads/.gitkeep
!public/uploads/capas-demo/
!public/uploads/capas-demo/**

scripts/windows/
scripts/gerar_screenshots.js
scripts/open-browser.js
scripts/start-and-open.js
scripts/gerar_der_png.ps1
*.bat
*.ps1

.DS_Store
Thumbs.db
